# SwiftFormat Configuration for Wavefront

# Format options
--swiftversion 5.9
--indent 4
--indentcase false
--trimwhitespace always
--voidtype void
--nospaceoperators ..<, ...
--ranges nospace
--header strip
--stripunusedargs closure-only

# Rules
--enable blankLinesBetweenScopes
--enable blankLinesAtEndOfScope
--enable blankLinesAtStartOfScope
--enable consecutiveBlankLines
--enable consecutiveSpaces
--enable duplicateImports
--enable elseOnSameLine
--enable emptyBraces
--enable indent
--enable linebreakAtEndOfFile
--enable redundantBackticks
--enable redundantBreak
--enable redundantExtensionACL
--enable redundantFileprivate
--enable redundantGet
--enable redundantInit
--enable redundantLet
--enable redundantLetError
--enable redundantNilInit
--enable redundantObjc
--enable redundantParens
--enable redundantPattern
--enable redundantRawValues
--enable redundantReturn
--enable redundantSelf
--enable redundantType
--enable redundantVoidReturnType
--enable semicolons
--enable sortImports
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundOperators
--enable spaceAroundParens
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--enable strongOutlets
--enable strongifiedSelf
--enable todos
--enable trailingClosures
--enable trailingCommas
--enable trailingSpace
--enable typeSugar
--enable unusedArguments
--enable void
--enable wrapArguments
--enable wrapAttributes
--enable yodaConditions

# Disabled rules
--disable acronyms
--disable blankLineAfterImports
--disable markTypes
--disable organizeDeclarations
--disable sortDeclarations

# File options
--exclude .build,WavefrontApp.xcodeproj,Package.swift
